canvas.background, canvas.foreground, canvas.geoMaps, div.svgDiv, div.gSvgDiv {
    border: solid black 1px;
	margin: 4px;
}

canvas.background {	
	position:absolute;
	z-index:-1;
}

canvas.foreground {
	z-index:1;
}

canvas.foreground[data-cursor=grab]{
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
}
canvas.foreground[data-cursor=grabbing]{
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}
button {
	margin: 2px;
}