div.screenWrap {
	position:relative;
}

div.screenWrap, canvas.maps, div.svgDiv, div.mSvgDiv {
    border: solid black 1px;
	margin: 4px;
}

.background {	
	position:absolute;
	z-index:0;
}

div.tooltips {
	position:absolute;
	z-index:2;
}

.foreground {
	position:absolute;
	z-index:1;
}

div.tooltips[data-cursor=grab]{
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
}
div.tooltips[data-cursor=grabbing]{
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}
div.tooltipBox{
	user-select: none;
}
button {
	margin: 2px;
}
textarea {
	width: 296px;
	margin: 4px;
    -moz-tab-size : 4;
    -o-tab-size : 4;
    tab-size : 4;
}



.darkMode body { 
	background:  #222; color: white; 
}
.darkMode div.sim-container { 
	background:  #222; color: white; 
}
.darkMode a {
	color: #dde;
}
.darkMode a:visited {
	color: #bbe;
}
.darkMode input {
	background:  #222; 
	color: white;
    border: 1px solid #888;
}
.darkMode textarea {
	background:  #222; 
	color: white;
}

.darkMode div.screenWrap, canvas.maps, div.svgDiv, div.mSvgDiv {
	border-color: white;
}
