.sim-sandbox{
    margin: 0px -4px;
}

.sim-sandbox .button-group{
	overflow: hidden;
    margin-bottom: 0px;
    margin-right: -4px;
}
.sim-sandbox .button-group-label{
	font-weight: bold;
    font-size: 15px;
    margin-bottom: 2px;
    margin: 2px 4px;
    line-height: 1.1em;
}

.sim-sandbox .button-group-label2{
	font-weight: bold;
    font-size: 15px;
    margin-bottom: 2px;
    margin: 2px 4px;
    line-height: 1.1em;
}

.sim-sandbox .button2{

    height: 24px;
    font: inherit;
    font-weight: bold;

	cursor: pointer;
    background: #fff;
    border: 1px solid #888;
    color: #888;
	line-height: 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin: 1px 4px;
    padding: 1px 4px;
    
    top:0;

	-webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}

.sim-sandbox .button{
	float: left;
    
    overflow:hidden;
    
    position: relative;
    height: 20px;
}

.sim-sandbox .button-group .smaller{
    font-size: 80%;
}

.sim-sandbox .button svg{
    font-size: 20px;
}


.sim-sandbox .button:hover{
	background: #ddd;
	border-color: #999;
}
.sim-sandbox .button:active{
	background: #333;
	border-color: #000;
}
.sim-sandbox .button[on=yes]{
	background: #ccc;
    color: #000;
}
.sim-sandbox .button[on=yes]:hover{
	background: #ddd;
}
.button[on=yes]:active{
	background: #111;
}

.button-group-label ~ div.button {
    display: none;
}
.button-group-label.seeit ~ div.button {
    display: block; 
}

.button-group-label::before {
    content: ' \2B  '; /* Unicode character for "plus" sign (+) */
    font-size: 10px;
    color: black;
    fill: black;
    /* float: right; */
    /* margin-left: 5px; */
  
}
.seeit::before {
    content: " \2212  "; /* Unicode character for "minus" sign (-) */
}
