.sim-sandbox{
    margin: 0px -4px;
}

.sim-sandbox .button-group{
	overflow: hidden;
    margin-bottom: 0px;
    margin-right: -4px;
}
.sim-sandbox .button-group-label{
	font-weight: bold;
    font-size: 15px;
    margin-bottom: 2px;
    margin: 2px 4px;
    line-height: 1.1em;
}

.sim-sandbox .button-group-label2{
	font-weight: bold;
    font-size: 15px;
    margin-bottom: 2px;
    margin: 2px 4px;
    line-height: 1.1em;
}

.sim-sandbox .button2{

    height: 24px;
    font: inherit;
    font-weight: bold;

	cursor: pointer;
	line-height: 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin: 1px 4px;
    padding: 1px 4px;
    
    top:0;

	-webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}

.sim-sandbox .button{
	float: left;
    
    overflow:hidden;
    
    position: relative;
    height: 20px;
}

.sim-sandbox .button-group .smaller{
    font-size: 80%;
}

.sim-sandbox .button svg{
    font-size: 20px;
}


.sim-sandbox .button:hover{
	background: #ddd;
	border-color: #999;
}
.sim-sandbox .button:active{
	background: #333;
	border-color: #000;
}
.sim-sandbox .button[on=yes]{
	background: #ccc;
    color: #000;
}
.sim-sandbox .button[on=yes]:hover{
	background: #ddd;
}
.button[on=yes]:active{
	background: #111;
}

.sim-sandbox .button2{
    background: #fff;
    border: 1px solid #888;
    color: #888;
}

.darkMode .sim-sandbox .button2:hover{
    background: #222;
    border-color: #777;
}
.darkMode .sim-sandbox .button2:active{
    background: #ddd;
    border-color: #fff;
}


.darkMode .sim-sandbox .button:hover{
    background: #222;
    border-color: #777;
}
.darkMode .sim-sandbox .button:active{
    background: #ddd;
    border-color: #fff;
}
.darkMode .sim-sandbox .button[on=yes]{
    background: #444;
    color: #fff;
}
.darkMode .sim-sandbox .button[on=yes]:hover{
    background: #222;
}
.darkMode .button[on=yes]:active{
    background: #eee;
}

.darkMode .sim-sandbox .button2{
    background: #000;
    border: 1px solid #888;
    color: #888;
}
